@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    width: min(90vw, 800px);
    margin: auto;
    margin-top: 2rem;
    border-radius: 10px;
}

.title{
    text-align: center;
    padding-top: 1.5rem;
}

.form{
      margin: auto;
      padding-top: 1rem;
      text-align: center
}

input[type='text']{
    padding: 5px;
    outline: none;
    width:40%;
}

input[type='submit'], button, a{
    cursor: pointer;
}

.btn {
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: white
}

.btnAdd{
    background: #6495ED;
}

.btnSave {
    background: #00CD00;
}

.btnEdit{
    background:#FFA54F;
    color: black;

}

.btnDelete{
    background:#FF0000;
}

table {
    margin: 1rem 1rem 0;
    padding-bottom: 1rem;
    text-align: left;
}

td{
    padding: 3px;
}

.taskname {
    padding-right: 1rem;
    word-break: break-all;
}

#edit-box{
    display: none;
    margin-left: 1rem;
    padding-bottom: 3rem;
}


